*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Pink */
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  /* Blue */
  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: ##144a72;
  --blue-low: #08233c;

  /* Shape */
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  /* Text */
  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;
}

body {
  background-color: var(--shape-background);
  color: var(--text-body);
  font-family: 'Raleway', sans-serif;
}
