*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;
  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;
  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  --max-width: 375px;

  --font-family: 'Raleway', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--shape-background);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul[role='list'] {
  list-style: none;
}

@media (width >= 64em) {
  :root {
    --max-width: 80em;
  }
}

@media (width <= 390px) {
  body {
    max-width: var(--max-width);
    margin-inline: auto;
  }
}

@media (750px <= width < 64em) {
  :root {
    --max-width: 1024px;
  }
}
