.kit-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.kit-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.book-section {
  position: relative;
  width: 100%;
  height: 100%;

  & p {
    position: absolute;
    font-size: 10px;
    color: var(--text-body);
    font-weight: 400;

    &:nth-child(6) {
      top: 290px;
      right: 55px;
    }

    &:nth-child(8) {
      top: 160px;
      left: 13px;
    }

    &:nth-child(10) {
      top: 24px;
      left: 10px;
    }
  }

  & img {
    position: absolute;

    &:nth-child(1) {
      height: 210px;
      left: 87px;
      top: 53px;
    }

    &:nth-child(2) {
      height: 180px;
      top: 25px;
      left: 225px;
      transform: rotate(12deg);
      z-index: -1;
    }

    &:nth-child(3) {
      height: 180px;
      top: 60px;
      left: 257px;
      transform: rotate(22deg);
      z-index: -2;
    }

    &:nth-child(4) {
      height: 85px;
      top: 200px;
      left: 40px;
      z-index: -1;
      transform: rotate(-8deg);
    }

    &:nth-child(5) {
      height: 49px;
      top: 235px;
      left: 255px;
    }

    &:nth-child(7) {
      height: 35px;
      top: 180px;
      left: 30px;
    }

    &:nth-child(9) {
      height: 10px;
      top: 46px;
      left: 40px;
    }
  }
}
